/.bundle
.idea/*
.idea/dictionaries/*
.DS_Store
*.tmproj
/tmp
target
/log
/log/*
*.log
*.iml
*.ipr
*.iws
.generators
.rakeTasks
.idea
.project
/db/schema.rb
nbproject
coverage
.rake_tasks
*#*
*~
tmtags
.tmtags
*.swp
.gitconfig
public/phoenix/js/all.bundle.js
vendor/ruby
public/phoneix/docs/
scala-0.9.1
api/bin
